<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin dashboard</title>
        <script th:src="@{/resources/jquery/jquery.min.js}"></script>
        <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
    </head>
    <body style="background-color: darkgrey;">
        <div class="container">
            <h1 class="text-center">Admin dashboard</h1>
        </div>
    </body>
</html>
